body {
	padding-top: 50px;
	font-family: 'Montserrat', sans-serif;
    padding-bottom: 50px;
    background-color: #8080ff;
}
footer {
	background-color: #333;
	position: absolute;
}
#copyfooter {
	padding-top: 15px;
	font-size: 0.75em;
}
#social {
	font-size: 1.5em;
}
#quotecalculator {
	padding-left: 100px;
	padding-right: 100px;
}
.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 0px;
  width: auto;
}
.sidebox {
	border: 5px solid blue;
	border-radius: 10px;
	margin-top: 2px;
	text-align: center;
	color: black;
}
.calculatorcontainer {
	display: flex;
	justify-content: center;
	text-align: center;
	vertical-align: middle;	
}
.mirror {
	display: inline-flex;
	background-color: blue;
	height: 120px;
	width: 40px;
	margin-top: 50px;
	border-radius: 5px;	
}
.truckbody {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-content: flex-start;
	align-items: center;	
}
.truck {
	background-color: blue;
	border-radius: 10px;
	margin: 2px;
	text-align: center;
	color: white;
	align-items: center;
}
#top {
	width: 350px;
	height: 40px;
}
#windscreen {
	background-color: transparent;
	border: 2px solid blue;
	width: 350px;
	height: 120px;
	color: blue;
}
#front {
	width: 370px;
	height: 150px;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
}
#bumper {
	width: 370px;
	height: 30px;
}
.wheels {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#leftwheel {
	background-color: blue;
	height: 30px;
	width: 70px;
	border-radius: 5px;
	margin-right: 100px;
}
#rightwheel {
	background-color: blue;
	height: 30px;
	width: 70px;
	border-radius: 5px;
	margin-left: 100px;
}
.services {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
.col-xs-12.col-md-12 {
	border: 5px solid blue;
	border-radius: 10px;
	text-align: center;
	display: inline;
	margin: 5px;
	padding: 10px;
	color: black;
}
th	 {
	text-align: center;
}
@media screen and (max-width: 768px) {
  	.wheels {
  		display: none;
  	}
  	body {
  		padding-top: 250px;
  		padding-bottom: 200px;
  	}
  	.col-xs-6 {
  		display: none;
  	}
  	.sidebox {
  		width: 100%;
  	}
}