<div class="container">
	<div class="row">
		<div class="col-sm-3 sidebox container">
			<h1>About Us</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupid</p>
		</div>
		<div class="col-sm-6">
			
				<div class="container1">

					<div class="mirror" id="leftmirror"></div>

    				<div class="truckbody">
    					<div class="truck" id="top"><h4>Quiq Quote</h4></div>
    					<div class="truck" id="windscreen">

    						<form id="quotecalculator">
    							<div class="form-group">
    								<label>Enter distance in miles:</label>
    								<input type="number"  ng-model="value"  min="0" class="form-control">
    								<button type="reset" ng-init="value=0" class="btn btn-primary">Reset</button>
    							</div>
    						</form>

    					</div>
    					<div class="truck" id="front" ng-controller="CalcController">
    						<h4>Your goods will cost</br> £ {{result() | number:2}}</br> to get to the destination !</h4>
    					</div>
    					<div class="truck" id="bumper"></div>
					</div>

    				<div class="mirror" id="rightmirror"></div>
				</div>

				<div class="wheels">
					<div id="leftwheel"></div>
					<div id="rightwheel"></div>
				</div>
			
		</div>
		<div class="col-sm-3 sidebox container">
			<h1>Services</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur.</p>
		</div>
	</div>
</div>
	
