<link rel="stylesheet" type="text/css" href="style.css">
<div class="container">
	<div class="row">
		<div class="col-xs-3 col-md-3 sidebox">
			<h2>About Us</h2>
			<p>Sebtrans Ltd is a newly formed company and its owner used to be an HGV Driver, having years of experience in the transport industry. Sebtrans Ltd is in continuous expansion looking forward to improving the quality of their services and to join the other companies in the competitive transport industry. Our goal is to offer an impeccable service to their customers.</p>
		</div>
		<div class="col-xs-6 col-md-6">
			<div class="calculatorcontainer">
				<div class="mirror" id="leftmirror"></div>
				<div class="truckbody">
					<div class="truck" id="top"><h4>Quiq Quote</h4></div>
					<div class="truck" id="windscreen">
						<form id="quotecalculator">
    						<div class="form-group">
    							<label>Enter distance in miles:</label>
    							<input type="number" ng-model="value" min="0" class="form-control">
    						</div>
    					</form>
					</div>
    				<div class="truck" id="front" ng-controller="CalcController">
    					<h4>Your goods will cost</br>{{ result() | currency:"£":2 }}</br> to get to the destination !</h4>
    					<p>Up to 300 miles the price is fixed - £300.</p>
    					<p>The quote is for a full 20T load.</p>
    				</div>
    				<div class="truck" id="bumper"></div>
				</div>
				<div class="mirror" id="rightmirror"></div>
			</div>
			<div class="wheels">
				<div id="leftwheel"></div>
				<div id="rightwheel"></div>
			</div>
		</div>
		<div class="col-xs-3 col-md-3 sidebox">
			<h2>About Us</h2>
			<p>Being a small company we have the advantage of a more straightforward communication between  departments and the ability to resolve issues more rapidly, leading to a more accurate and clean service. Meeting the demands of clients in the modern world of transportation is our primary goal,
			despite any negative factors that day-to-day work encounters.</p>
		</div>
	</div>
</div>