<div class="container" >
	<div class="col-md-12">
		<!--<div class="col-md-5">
			<h4>Find Us</h4>
			<div class="map-container" ng-controller="MapController" id="googleMap" style="width: 100%; height: 250px"  >
    		<img class="img-thumbnail img-responsive" src="https://maps.googleapis.com/maps/api/staticmap?center={{map.address}}&zoom={{map.zoom}}&size={{mapDimensions()}}&markers=color:red|{{map.address}}" />
    		</div>

    		<div class="zoom-controls">
        		<button class="zoom-button btn btn-primary" ng-click="zoomIn()">
            		<span class="glyphicon glyphicon-plus"></span>
        		</button>
        		<button class="zoom-button btn btn-primary" ng-click="zoomOut()">
            		<span class="glyphicon glyphicon-minus"></span>
        		</button>
    		</div>
    	</div> -->
		

		<div class="col-md-7">

			<h4>Contact Us</h4>

			<div class="col-md-4">
				<p><span class="glyphicon glyphicon-phone"></span>Phone: +44 90909090</p>
      			<p><span class="glyphicon glyphicon-envelope"></span>Email: mail@mail.com</p> 
			</div>

			<div class="col-md-8">
				<div class="row">
        			<div class="col-sm-6 form-group">
          				<input class="form-control" name="name" type="text" ng-model="nameLabel" required>
        			</div>

        			<div class="col-sm-6 form-group">
          				<input class="form-control" name="email" type="email" ng-model="emailLabel" required>
        			</div>
        		</div>

					<textarea class="form-control" name="comments" rows="5" ng-model="messageLabel"></textarea>

      			<div class="row">
        			<div class="col-sm-12 form-group">
          				<button class="btn btn-primary" type="submit">Send</button>
        			</div>
      			</div> 
      		</div>
		</div>
	</div>
</div>