<div class="container contactus" >
	<div class="col-md-2">
		<h4>Fallow Us</h4>
		<ul class="list-unstyled">
			<li><a href="#" class="fa fa-facebook-official" aria-hidden="true"> Facebook</a></li>
			<li><a href="#" class="fa fa-twitter-square" aria-hidden="true"> Twitter</a></li>
			<li><a href="#" class="fa fa-google-plus-square" aria-hidden="true"> Google+</a></li>
		</ul>
	</div>

	<div class="col-md-3">
		<h4>Find Us</h4>
		<div contactus-map></div>
	</div>

	<div class="col-md-7">

		<h4>Contact Us</h4>

		<div class="col-md-4">
			<p><span class="glyphicon glyphicon-phone"></span>Phone: +44 90909090</p>
      	<p><span class="glyphicon glyphicon-envelope"></span>Email: mail@mail.com</p> 
		</div>

		<div class="col-md-8">
			<div class="row">
        		<div class="col-sm-6 form-group">
          			<input class="form-control" name="companyname" type="text" ng-model="companyNameLabel" required>
        		</div>

        		<div class="col-sm-6 form-group">
          			<input class="form-control" name="email" type="email" ng-model="emailLabel" required>
        		</div>
        	</div>

			<textarea class="form-control" name="comments" rows="5" ng-model="messageLabel"></textarea>

      		<div class="row">
        		<div class="col-md-12 form-group">
          			<button class="btn btn-primary" type="submit">Send</button>
        		</div>
      		</div> 
      	</div>
	</div>
</div>