<div class="container">
	<div class=" col-sm-12">
		<img src="assets/containertruck.jpg" alt="containertruck" class="img-responsive img-rounded" style="float: left;">
		<h4>Container Haulage</h4>
		<p>Our main activity is container transport from Dartford port. We have the knowledge and the ability to deliver your container on time, every time. </p>
	</div>
	<div class="col-sm-12">
		<img src="assets/deliverytruck.jpg" alt="deliverytruck" class="img-responsive img-rounded" style="float: left; ">
		<h4>Supermarkets Delivery</h4>
		<p>Load your trailer and let us pick it up and have it delivered to your supermarket!</p>
	</div>
	<div class="col-sm-12">
		<img src="assets/frigotruck.jpg" alt="frigotruck" class="img-responsive img-rounded" style="float: left; ">
		<h4>Refrigerated Transport</h4>
		<p>We also have experience in Refrigerated/Frigo/Chilled Transport</p>
	</div>
</div>